/* ############################### SITE ############################### */

/* TAGS */
h1{
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    font-size: 24px;
}

h2{
    font-size: 20px;
    width:100%;
	display:block;
	margin-left:0px;
}

body {
    background: #000;
    color: #FFF;
}

span, h1, a, h2{
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    text-align: center;
}

span{
    font-size: 18px;
}

a{
    padding: 5% 17px;
    line-height: 26.4px;
	text-decoration: none;
}

ul{
    margin-left: auto;
	margin-right:auto;
	display:table;
}

nav ul li {
  float: left;
  list-style: none;
}

nav ul li a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 11px;
}

nav ul li a[data-contraste="1"] {
  background: #FFFFFF;
  color: #000000;
}

/* IDS */
#conteudo-texto{
    text-align:center;
}

#opcoes{
    margin-left: auto;
    margin-right: auto;
}

/* CLASSES */
.centralizar{
	width:70%;
	margin:auto;
	text-align:left;
}


/* ########################### AREA DE LINKS ########################### */

/* IDS */
#fontes{
	margin-top:3px;
	margin-top:443px;
}

#github{
	color: #A1F4EC;
	text-align:right;
	display:inline-block;
	float:right;
	width: 250px;
	font-size: 16px;
	margin-top: 55px;
    margin-right: 5px;
}

#repositorio{
	display:inline-block;
	width: 250px;
	text-align:center;
}

#img-bulma{
	width:60px;
	display:block;
}

/* CLASSES */
.fontes-links{
	display:inline-block;
	padding: 0px;
	line-height: 26.4px;
	color: #A1F4EC;
	font-family: 'Alegreya';
}

a.fontes-links:link {
    color: #A1F4EC;
}

a.fontes-links:visited {
    color: #A1F4EC;
}

a.fontes-links:hover {
    color: #009bb2;
}

a.fontes-links:active {
    color: #009bb2;
}

